body {
  background-color: black;
}
.App {
  font-family: sans-serif;
  text-align: center;
  z-index: 1;
}
.loading {
  cursor: not-allowed !important;
}
.btn {
  background-color: cyan;
  color: black;
  border: 0;
  padding: 10px 15px;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  z-index: 1;
}
input {
  margin-left: 20px;
  z-index: 1;
}
ul {
  list-style: none;
}
li {
  background-color: white;
  width: max-content;
  min-width: 300px;
  margin: 10px auto;
  padding: 10px 0px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
h3 {
  background-color: white;
}
.delete {
  cursor: pointer;
  position: absolute;
  right: 0;
  font-size: 25px;
  z-index: 1;
}
#disabled {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.65);
  bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  left: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  position: fixed;
  right: 0;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  z-index: 100;
  cursor: not-allowed !important;
}
